{% extends "template.html" %}

{% block Contents %}
<h1 class="display-1">{{ current_user.username }}'s Homepage</h1>

<!--All Posts-->
<h2 class="display-4">Posts</h2>

{% for post in posts %}

<div class="card w-100" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{post.title}}</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Posted by <a href="{{url_for('account',id=post.user_id)}}" class="card-link">{{post.user_id}}</a></h6>
      <a href="{{url_for('post',id=post.id)}}" class="card-link">Go to this post</a>
      {% if post.user_id == current_user.id %}
      <a href="{{url_for('update',id=post.id)}}" class="card-link">Update</a>
      <a href="{{url_for('delete',id=post.id)}}" class="card-link">Delete</a>
      {% endif %}
    </div>
</div>

{% endfor %}


<!--All Comments-->
<h2 class="display-4">Comments</h2>

<ul class="list-group">
    {% for comment in comments %}
        <li class="list-group-item">
            {{ comment.user_id }}({{ comment.date_posted }}): {{ comment.content }}
        </li>
    {% endfor %}
</ul>

{% endblock %}